---
import { getCollection } from 'astro:content';
import { formatDate } from '../../utils/dates';
const upcomingSpeakingEvents = await getCollection('upcomingSpeakingEvents');
---

<section class="upcoming-speaking-events">
  <h2>{upcomingSpeakingEvents.length} Upcoming Events</h2>
  <ul role="list">
    {
      upcomingSpeakingEvents.length > 0 ? (
        upcomingSpeakingEvents.map(event => (
          <li role="listitem">
            <h3>{event.data.eventName}</h3>
            <p>
              {formatDate(new Date(event.data.date))}, {event.data.time}
            </p>
            <p>
              {event.data.location}, {event.data.cost}
            </p>
            {event.data.linkType === 'info' && (
              <a href={event.data.URL}>More Info</a>
            )}
            {event.data.linkType === 'register' && (
              <a href={event.data.URL}>Register</a>
            )}
          </li>
        ))
      ) : (
        <li>No upcoming speaking events</li>
      )
    }
  </ul>
</section>

<style>
  ul {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--spacing-l);
    padding-right: var(--spacing-l);
    padding-bottom: var(--spacing-s);
    scroll-padding-right: var(--spacing-l);
  }

  li {
    list-style: none;
    min-width: 20rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
</style>
